{% extends 'base.html'%}


{% block content %}
<!-- css styles -->
  <style>
    .jumbotron {
      background-color: firebrick; /* Orange */
      color: #ffffff;
      padding:20px 20px;
      margin: 20px 20px;
      border: 3px solid whitesmoke; 
      border-end-end-radius: 50px; 
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;       
    }
    #content{
      padding:80px 20px;
      font-family: 'Dancing Script', cursive;
      
    }
    .cont{
      background-color:salmon;
      color: whitesmoke;
    }
    h1{
      font-family: 'Lobster Two', cursive;
      font-size: larger;
    }
    .card-text{
      height: 100px;
    }
    .img-circle{
      border-end-end-radius: 50px; 
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px; 
    }
    .footer{
      border: 2px solid gold;
    }
    .card-img-top{
      border-end-end-radius: 30px; 
    }
  </style>
<!-- css styles -->
<div class="jumbotron text-center">
    <!-- <h1>ZURI</h1> -->
    <img class="img-circle" src="../static/images/vv.jpg" width="1000px" height="500px" alt="Bird">
    <!-- <h1>Top Headlines</h1> -->
</div> 
  <br>
<div class="container-fluid">
  <hr>
  <br>
  <div class="row">
    <div class="col">
  <ul>
    {% for article in articles %}
    <!-- <div class="card mb-3"> -->
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;"></div>
          <img src="{{ article.urlToImage }}" class="card-img-top" alt="..." width="800px" height="600px">
          <div class="card-body">
          <h5 class="card-title"><a href="'/article{{article.url}}">{{article.source.name}}</a></h5>  
    </div>
    {% endfor%}
      </ul>
</div>
  <div class="col-lg-6" id="content">
      <div class="cont">
      <h4>Top Headlines</h4>
   </div>
   <br>
  <ul>
      {% for article in articles %}
      <!-- <div class="card mb-3"> -->
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;"></div>
        <!-- <img src="{{ article.urlToImage }}" class="card-img-top" alt="..." width="200px" height="400px"> -->
        <br>
        <br>
        <div class="card-body">
          <br>
          <h5 class="card-title">{{article.source.name}}</h5>
          <p class="card-title"><i>{{article.source.id}}</i></p>
          <a  class="card-text">{{article.url}}</a>
          <br>
          <br>
          <p class="card-text"><strong>{{article.description}}</strong></p>
          <p class="card-text"><strong>{{article.content}}</strong></p>
          <p class="card-text"><small class="text-muted">{{article.publishedAt}}</small></p> 
  </div>
        {% endfor%}
    </ul>
    <br>
    <br>
  </div>
  <hr>
  </div>
{% endblock content %}


    